{minimum_otp_vsn, "28"}.

{erl_opts, [debug_info]}.

{deps, [
    {arizona, {git, "https://github.com/arizona-framework/arizona.git",
               {branch, "main"}}},
    {arizona_rebar3_plugin, {git, "https://github.com/arizona-framework/arizona_rebar3_plugin",
                             {branch, "main"}}},
    {arizona_svelte, {git, "https://github.com/arizona-framework/arizona_svelte.git",
                      {branch, "main"}}}
]}.

{plugins, [
    {rebar3_arizona, {git, "https://github.com/arizona-framework/rebar3_arizona.git",
                      {branch, "main"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [{{name}}]}
]}.
