{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info]}.

{deps, [
    {arizona, {git, "https://github.com/arizona-framework/arizona.git", {branch, "main"}}}
]}.

{plugins, [
    {rebar3_arizona, {git, "https://github.com/arizona-framework/rebar3_arizona.git", {branch, "main"}}}
]}.

{shell, [{apps, [{{name}}]}]}.
