[
    {arizona, [
        {server, #{
            enabled => true,
            routes => [
                {asset, ~"/favicon.ico", {priv_file, {{name}}, ~"static/favicon.ico"}, []},
                {asset, ~"/robots.txt", {priv_file, {{name}}, ~"static/robots.txt"}, []},
                {asset, ~"/assets/app", {priv_dir, {{name}}, ~"static/assets"}, []},
                {view, ~"/", {{name}}_view, #{title => ~"Arizona Framework"}, []}
            ]
        }}
    ]}
].
